@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  background:
    radial-gradient(circle at 20% 60%, rgba(0,180,165,0.50), transparent 95%),
    radial-gradient(circle at 85% 70%, rgba(246, 196, 70, 0.504), transparent 70%),
    linear-gradient(135deg, #065f5b 0%, #033f3c 45%, #021f1f 100%);

  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

::selection {
  background: #f97316;
  color: white;
}